.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black
}

.logo {
    width: 300px;
}
.Anna{
    background-color: black;
}

.nav-items {
    padding: 0px 20px
}

.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding : 10px;
    margin: 10px;
}

.res-card {
    border: 1px solid black;
    width: 200px;
    margin: 5px;
    height: 400px;
}

.search {

}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    width: 220px;
}

.resImg {
    padding: 5px;
    width: 95%;

}

.filter-btn{
    margin: 10px;
    cursor: pointer;

}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
    margin: 20px;
}

.login {
    padding: 0 20px;
    cursor: pointer;
}

.search {

}

.search-box {

}

.filter {
    display: flex;
}
.avgrating{
    background: linear-gradient(to right, #1c87c9 20%, #fbfbfa 80%);
    /* background-clip: text; */
    flex-wrap: wrap;

}